h1 {
  color: white;
  text-align: center;
  font-family: Blackadder ITC;
  font-size: 900%;
}
h2 {
  color: white;
  text-align: center;
  font-size: 200%;
}
body {
    background-color: lightblue;
}
